<h3>Here are all the words in the Dictionary:</h3>

  <ul>
    <% @dictionary.word_list().each() do |word| %>
      <li><a href="/words/<%= word.id() %>"> <%= word.meaning() %></a></li>
    <% end %>
  </ul>

  <a href="/dictionaries/<%= @dictionary.id%>/words/new">Add Meaning</a>
  <a href="/">Return to Main Page</a>