<h3>Here are all the meanings of the word: 	<strong> <%= @dictionary.name() =%></strong></h3>

  <ul>
    <% @dictionary.word_list().each() do |word| %>
      <li><a href="/words/<%= word.id() %>"> <%= word.meaning() %></a></li>
    <% end %>
  </ul>
<p></p>
  <a href="/dictionaries/<%= @dictionary.id%>/words/new">
  	<i class="fa fa-plus-circle" aria-hidden="true"></i><strong>Add Meaning</strong></a>
 