<div class="jumbotron">
	<h1>Word Dictionary </h1>
</div>

<p></p>

<div class="panel panel-default">
  <div class="panel-body">
    <a href="/dictionaries"><i class="fa fa-book" aria-hidden="true"></i>
		See Words List
	</a>
  </div>
</div>
<div class="divider"></div>
<div class="panel panel-default">
  <div class="panel-body">
    <a href="/dictionaries"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>
		<a href="/dictionaries/new">Add New Word</a>
	</a>
  </div>
</div>

  

