<h1>Add meaning:</h1>

  <form action="/words" method="post">
  <label for="meaning">Meaning:</label>
  <input id="meaning" name="meaning" type="text">

  
  <button type="submit">Add Meaning</button>
  </form>
  